@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body{
    margin: 0;
    padding: 0;
    background-image: url("https://static.vecteezy.com/system/resources/previews/001/632/646/large_2x/abstract-blue-purple-background-with-geometric-pane-free-vector.jpg"); 
    background-repeat: no-repeat;
    background-size: cover;
}
.space{
    width: 100%;
    height: 100px;
}
.cont{
    width: 100%;
    height: 120px;
    margin-left: 125px;
    /* background-color: red; */
}
.task{
   padding-top: 10px;
   /* padding-left: 485px; */
    /* background-color: blue; */
    
}
.heading{
    /* justify-items: center; */
    height: 95px;
    width: 100%;
    /* background-color: green; */
}
.todohead{
    text-align: center;
    font-family:"Open Sans", sans-serif ;
    color: white;
    font-size: 60px;
}
#addbtn{
   
    color: white;
    background-color: rgb(52,7,143);
    height: 38px;
    width: 130px;
    border-radius: 15px;
    text-align: center;
    font-size: 22px;
    transition: 1.5s;
    border: 2px solid rgb(52, 7, 143); 
    cursor: pointer;
}
input{
    text-align:left;
    padding-left: 15px;
    font-weight:bold ;
    color: brown;
}
#addbtn:hover{
    /* background-color: aqua; */
    color: white;
    background:  linear-gradient(to right, rgb(12, 12, 206), rgb(157, 17, 157));
}

#newtodo{
    width: 350px;
    height: 35px;
    border-radius: 20px;
    /* padding-left: 15px; */
    /* align-content: center; */
    font-size: 20px;
}
#newtodo::placeholder{
    text-align: left;
}
.listdisplay{
    height: 300px;
    width: 750px;
    background-color: gainsboro;
    /* margin-left: 25%; */
    border-radius: 35px;
    display: flex;
}
.combine{
    background-color: rgba(127, 127, 135, 0.433);
    border: 5ps solid rgb(127, 127, 135);
    border-style: groove;
    width: 750px;
    height: 425px;
    border-radius: 25px;
    margin-left: 350px;
    padding-left: 0;
}
/* .list{
    height: 225px;
    width: 700px;
    background-color: aqua;
    margin: 10px, 10px, 10px, 10px;
} */
li{
    font-size: 22px;
    /* text-align: center; */
    list-style: decimal-leading-zero;
    padding-bottom: 5px;
}
/* #todolist{
    background-color: blue;
} */
 .list{
    position: absolute;
    height: 225px;
    width: 675px;
    margin-top: 3%;
    margin-left: 3%;
    margin-right: 5%;
    /* background-color: blueviolet; */
}
.headdiv{
    width: 100%;
}
.head{
    color: black;
    font-size: 22px;
    text-align: center;
    /* padding-bottom: 100px; */
}
button{
    height: 36px;
    width: 75px;
    border-radius: 15px;
    font-size: 15.5px;
     transition: 1.2s;
    /*border: 1px solid red; */
    margin-left: 10px;
    font-weight:500;
}
.delete{
    border: 1px solid red; 
    color: red;
    font-weight: bold;
    cursor: pointer;
}
.delete:hover{
    color: white;
    background-color: red;
}
.edit{
    border: 2px solid green;
    color: green;
    /* background-color: darkorange; */
    cursor: pointer;
    font-weight: bold;
    
    cursor: pointer;
}
.edit:hover{
    border: 2px solid darkgreen;
    color: white;
     background-color: green; 
}
/* button:hover{
    color: white;
    background-color: red;
} */
 